// Import page-specific CSS files here.
@import "home";

.list-title {
  display: flex;
  justify-self: center;
  width: 80%;
  justify-content: space-between;
}

.movie-card {
  background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  height: 300px;
  max-width: 400px;
}

.movie-card-container {
  width: 80%;
}
