.movies-container {
  width: 80%;
  justify-self: center;
  display: grid;
  justify-content: space-between;
  // background-color: aquamarine;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

@media(max-width: 900px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 500px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
  }
}
